@font-face {
  font-family: 'Regular';
  src: url('../public/fonts/BEYLAF-BebasNeueRegular.ttf') format('truetype');
  font-display: block;
}
@font-face {
  font-family: 'lite';
  src: url('../public/fonts/Bebas-Neue-lite.ttf') format('truetype');
  font-display: block;
}
@font-face {
  font-family: 'Book';
  src: url('../public/fonts/Bebas-Neue-book.ttf') format('truetype');
  font-display: block;
}
@font-face {
  font-family: 'Corvetta';
  src: url('../public/fonts/Corvetta.ttf') format('truetype');
  font-display: block;
}

* {
  margin: 0;
  padding: 0;
}
#root {
  width: 100vw;
}

body {
  overflow-x: hidden;
  background-color: var(--litePink);
}
:root {
  --pink: rgb(208, 9, 128);
  --litePink: rgb(233, 125, 177);
  --white: #fff;
  --darkBlue: rgb(55, 131, 161);
  --liteBlue: rgb(128, 188, 206);
  --ocean: rgb(0, 151, 159);
  --liteOcean: rgb(128, 188, 206);
  --index: calc(1vw + 1vh);
}

.none {
  display: none !important;
}
